.khan__buy-link{
    margin-left: 48px;
    line-height: 42px;
    font-size: 30px;
    font-style: normal;
    text-decoration: none;
    height: max-content;
    color: #2f80ed;
  }

  .khan__buy-link:hover{
    opacity: .7;
    
  }